@use "sass:color";
@use "config";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 4.4em 1.97em 4.69em; //@ mobile ~70px top , ~75px bottom, 31px each side
  background: config.$light-gray;
  font-family: config.$font-stack;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

.container {
  //@375x870px should be ~313px width by ~724/725px height
  // height: fit-content;
  box-shadow: 0 1rem 1.5rem
    color.scale(config.$primary-color, $saturation: -20%, $alpha: -80%);
  border-radius: 0.3rem;

  .card {
    padding: 1.4em 1.56em;
  }
  .community {
    //@mobile ~313 width x ~268 height
    background: #ffff;
    border-radius: config.set-radius(t, 0.3);

    h1 {
      padding-block: 0.14em;
      color: config.$primary-color;
      line-height: 1.5;
      font-size: 1.25em;
      margin-bottom: 1em;
    }

    h2 {
      color: config.$secondary-color;
      font-size: 0.95em;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 1.2em;
    }
    p {
      color: config.$mid-gray;
      font-size: 0.85em;
      opacity: 0.9;
      line-height: 1.93;
      margin-bottom: 0.5rem;
    }
  }

  .info {
    //@mobile should be ~313px width by  ~456px height total both parts
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.15rem;
      opacity: 0.9;
    }

    & > * {
      flex-basis: 100%;
    }

    &-1 {
      //@mobile ~313 x ~228
      @include config.bg-effect(config.$primary-color, 4%);

      h3 {
        margin-bottom: 0.45em;
      }

      a {
        display: block;
        text-align: center;
        margin-block: 1.64rem 0.11rem;
        padding-block: 0.75em;
        border-radius: 0.3rem;
        background: config.$secondary-color;
        color: #ffff;
        box-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.2);
        font-weight: 700;
        position: relative;
        transition: all ease-in-out 150ms;
      }

      a::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0.4em;
        border: 1px solid config.$secondary-color;
        opacity: 0;
        transition: all ease-in-out 250ms;
      }

      a::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0.2em;
        box-shadow: -2px -2px 8px 1px color.scale(
            config.$primary-color,
            $lightness: -10%,
            $alpha: -15%
          ) inset;
        opacity: 0;
        transition: all ease-in-out 150ms;
      }

      a:hover {
        background: color.scale(config.$secondary-color, $alpha: -20%);
        transform: scale(1.03);
      }

      a:hover::before,
      a:hover::after {
        opacity: 1;
      }

      a:hover::before {
        transform: scale(1.05, 1.25);
      }

      .cost {
        display: flex;
        align-items: center;
        gap: 0.65rem;

        .fee {
          line-height: 1.47;
          font-size: 2rem;
          font-weight: 700;
        }

        .freq {
          opacity: 0.6;
        }
      }
    }

    &-2 {
      //@mobile ~313 width x ~228 height
      @include config.bg-effect(config.$primary-color, 14%);
      border-radius: config.set-radius(b, 0.3);

      h3 {
        margin-bottom: 0.7em;
      }

      ul {
        padding: 0;
        list-style: none;
        opacity: 0.8;
        font-size: 0.85rem;
      }
    }
  }
}
footer {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: color.scale(config.$primary-color, $alpha: -95%);
  padding-inline: 1.95rem;
  line-height: 2;

  .attribution {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 0.7rem;
    background: color.scale(config.$primary-color, $alpha: -80%);
    transition: gap ease-in-out 300ms;

    span {
      text-align: center;
      padding-inline: 1em;
      max-height: 100%;
      transition: all ease-in-out 250ms;

      a {
        color: hsl(228, 45%, 44%);
        margin-left: 0.2rem;
      }
    }
  }
}

@media (min-width: 700px) {
  body {
    padding-block: 10em; // @desktop ~160 top, sides don't matter as max-width on container
  }
  .container {
    //@1440x800px shold be ~635px width by ~475px height
    max-width: 39.7em;

    .card {
      padding: 2.4rem 2.4rem;
    }

    .community {
      //@1440x800 should be 640px by  ~216px height

      font-size: 1.16rem;
      h1 {
        padding: 0;
        margin-bottom: 1rem;
      }
      h2 {
        margin-bottom: 0.26em;
      }
      h2,
      p {
        line-height: 1.7;
      }

      p {
        margin-bottom: 0;
      }
    }

    .info {
      flex-direction: row;

      &-1 {
        //@desktop design 320px w x 260px h
        border-radius: config.set-radius(bl, 0.3);

        a {
          margin-top: 1.7rem;
        }
      }
      &-2 {
        border-radius: config.set-radius(br, 0.3);
      }
    }
  }
  footer {
    padding-inline: calc((100vw - 39rem) / 2);

    .attribution {
      background: color.scale(config.$primary-color, $alpha: -95%);
    }
  }

  footer:hover {
    .attribution {
      gap: 15%;
      span {
        transform: scale(1.5) translatey(-1em);
        background: color.scale(
          config.$primary-color,
          $saturation: -50%,
          $lightness: 50%
        );
        border-radius: config.set-radius(t, 0.2);
      }
    }
  }

  .attribution span a:hover {
    color: color.scale(config.$primary-color, $lightness: -80%);
  }
}

@media (max-width: 360px) or ((360px < width < 700px) and (max-height: 780px)) or (( 700px < width < 1000px) and (max-height: 550px)) {
  body {
    flex-direction: column;
    gap: 1em;
  }
  footer {
    position: static;
    width: 100%;
    padding-inline: 0;

    .attribution {
      flex-direction: column;
      justify-content: center;
      background: none;
      gap: 0.5em;

      span {
        border-radius: 0.4em;
        background: color.scale(config.$primary-color, $alpha: -80%);
        padding: 0.5em;
        line-height: 1.2;
      }
    }
  }
}
